/* 1.) Create a selector that targets the <img> element that is a descendant of the <header> element. Apply a bottom margin of 20px. */

/* Example of Descendant selector of img in a header*/
header img{
  
margin: 20px;
}
  
/* 2.) Next, target the paragraph that is a descendant of the main-content class. Add a font-weight property and set the value to bold. */

/* Example of Descendant selector of p in a class*/
.main-content p{
  font-weight: bold;
}
  
/* 3.) Create a selector that targets a <div> that is an adjacent sibling of a <div>. Set a top margin of 15px. */

/*Example of adjacent sibling of two divs selector*/
div + div{
  margin-top: 15px;
}
  
/* 4.) Finally, write a selector that targets a <span> that is a direct child of a <div>. Apply a background color of powderblue. */

/*Example of span direct child of a div*/
div > span{
  background-color: powderblue;
}
